.heading{
    margin-bottom: 48px;
    text-align: center;
    h2{
        font-weight: 600;
        font-size: 48px;
        color: $black-1;
        line-height: 120%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        margin-bottom: 8px;
        @include media-query(1250px) {
            font-size: 42px;
        }
        @include media-query(768px) {
            font-size: 38px;
        }
        @include media-query(490px) {
            font-size: 32px;
            margin-bottom: 24px;
        }
    }
    p{
        font-size: 16px;
        line-height: 140%;
        color: $gray-4;
        font-family: $font-sec;
        margin-bottom: 0;
        @include media-query(992px) {
            margin-bottom: 48px;
        }
        @include media-query(768px) {
            margin-bottom: 38px;
        }
        @include media-query(490px) {
            margin-bottom: 32px;
        }
        br{
            @include media-query(768px) {
                display: none;
            }

        }
    }
}

