.blog{
    .content{
        background: $white;
        border-radius: 10px;
        @include media-query(991px) {
            margin-bottom: 24px;
        }
        .img-block{
            position: relative;
            border-radius: 10px 10px 0 0 ;
            overflow: hidden;
            margin-bottom: 16px;
            img{
                width: 100%;
                object-fit: cover;
            }
            .date{
                position: absolute;
                padding: 8px ;
                border-radius: 5px;
                font-weight: 500;
                font-size: 16px;
                background: $white;
                font-family: $font-sec;
                color: $black-2;
                margin-bottom: 0;
                left: 16px;
                bottom: 16px;
            }
        }
        .text-block{
            padding: 24px 16px;
            .category-text{
                font-weight: 400;
                font-size: 19px;
                line-height: 130%;
                font-family: $font-sec;
                color: $accent-1;
                margin-bottom: 8px;
            }
            a{
                font-weight: 500;
                font-size: 23px;
                line-height: 130%;
                text-transform: capitalize;
                color: $black-1;
                margin-bottom: 16px;
                font-family: $font-sec;
            }
            ul{
                padding-left: 0;
                list-style: none;
                margin-bottom: 0;
                display: flex;
                li{
                    margin-right: 20px;
                    span{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 150%;
                        font-family: $font-sec;
                        color: $black-1;
                    }
                    i{
                        color: $black-1;
                        font-size: 24px;
                        margin-right: 8px;
                    }
                }
            }
        }
        
    }
}