
.check-out {
    .content{
        @include media-query(1199px) {
            margin-bottom: 24px;
        }
        .img-block {
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 16px;
                img {
                    width: 100%;
                    object-fit: cover;
                }
                span {
                    background: $white;
                    position: absolute;
                    padding: 8px;
                    border-radius: 5px;
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 130%;
                    left: 16px;
                    bottom: 16px;
                    font-family: $font-sec;
                    text-transform: capitalize;
                    color: $black-2;
                    &.st-2 {
                        bottom: unset;
                        left: unset;
                        top: 16px;
                        right: 16px;
                    }
                }
            }
            a {
                font-weight: 500;
                font-size: 23px;
                line-height: 130%;
                text-transform: capitalize;
                font-family: $font-sec;
                color: $black-1;
                margin-bottom: 16px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: $black-1;
                font-family: $font-sec;
                margin-bottom: 8px;
            }
            ul {
                display: flex;
                align-items: center;
                li {
                    font-family: $font-sec;
                    margin-right: 14px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: 0.02em;
                    color: $black-2;
                    svg {
                        margin-right: 8px;
                    }
                }
            }
    }
    .propertie-slider {
        margin-bottom: 72px;
        .content{
            padding: 0 12px;
            .img-block {
                img {
                display: block;
                width: 100%;
                object-fit: cover;
            } 
            }
            h4 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            @include media-query(768px) {
                -webkit-line-clamp: 2;
                line-clamp: 2;
            }
            }
        } 
    }
    .propertie-slider{
        .slick-dots {
            bottom: -50px;
        }
    } 
}