.footer{
    background: url(../media/banner/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 30px;
    .main{
        justify-content: space-between;
        align-items: center;
        @include media-query(991px) {
            align-items: start;
        }
        .title{
            font-weight: 500;
            font-size: 28px;
            line-height: 120%;          
            text-transform: uppercase;     
            color: $white; 
            margin-bottom: 16px;    
            font-family: $font-sec;
        }
        .newsletter{
            margin-top: 150px;
            @include media-query(991px) {
                margin-top: 0;
            }
            .title{
                font-weight: 500;
                font-size: 23px;
                line-height: 130%;        
                text-transform: capitalize;     
                color: $white; 
                margin-bottom: 16px;    
                font-family: $font-sec;
            }          
        }
        .footer-social-icon{
            display: flex;
            margin-bottom: 0;
            padding: 0;
            li{
                margin: 0 8px;
                i{
                    font-size: 24px;
                    color: $white;
                    &:hover{
                        color: $accent-1;
                    }
                }
            }
            
        }
    }
}