.inner-banner {
    background: url(../media/banner/inner-banner-bg.png);
    background-position: center;
    background-size: cover;
    padding: 208px 0;
    @include media-query(1199px) {
      padding: 180px 0 150px;
    }
    @include media-query(768px) {
      padding: 150px 0 100px;
    }
    h2 {
      font-weight: 600;
      font-size: 69px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $white;
      margin: 0;
      @include media-query(1199px) {
        font-size: 60px;
      }
      @include media-query(768px) {
        font-size: 50px;
      }
    }
  }
  