.solution{
    .content{
        padding: 64px 32px;
        background: $gray-1;
        border-radius: 20px;
        cursor: pointer;
        transition: $transition;
        @include media-query(992px) {
            margin-bottom: 32px;
        }
        @include media-query(768px) {
            padding: 48px 24px;
        }
        @include media-query(490px) {
            padding: 32px 12px;
        }
        p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
                    line-clamp: 3; 
            -webkit-box-orient: vertical;
        }
        a{
            padding: 10px 16px;
            color: $black;
            background: $white;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 23px;
            line-height: 130%;
            text-transform: uppercase;
            color: $black;
            border-radius: 5px;
            transition: $transition;
            &:hover{
                background: $accent-1;
                color: $white;
            }
        }
        &:hover{
            h4{
                color: $accent-1;
            }
        }
    }
}